doctype html
html(lang="en")
head
meta(charset='UTF-8')
title Title
link(href='./css/style.css' rel='stylesheet')
h1 Click on the cat
article
header
  h2 Name
  figure
    img.big.small.trans(src='./img/cat.jpg')
  p Age: 8
  p Weight 10kg
script(src='./js/main.js')
